[submodule "Submodules/SPIRV-Reflect"]
	path = Submodules/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "Submodules/VulkanMemoryAllocator"]
	path = Submodules/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
